@charset "UTF-8";
/* common */
html,
body,
* {
  font-family: "S-CoreDream-4Regular", "맑은고딕", "sans-serif";
  color: #333;
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bold {
  font-family: "S-CoreDream-6Bold", "맑은고딕", "sans-serif";
}

.medium {
  font-family: "S-CoreDream-5Medium", "맑은고딕", "sans-serif";
}

.regular {
  font-family: "S-CoreDream-4Regular", "맑은고딕", "sans-serif";
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content-container > div {
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
}
.content-container .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1170px;
  height: 100%;
  margin: 150px 0;
}
.content-container .content-wrap > h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content-container .content-wrap > div {
  width: 100%;
}
.content-container .content-wrap .wrap {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-container .content-wrap .wrap .downloadBtnWrap {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.content-container .content-wrap .wrap .downloadBtnWrap > button {
  font-family: "S-CoreDream-5Medium", "맑은고딕", "sans-serif";
}
.content-container .content-wrap .wrap .chart {
  z-index: 1;
  width: 100%;
  height: 1000px;
}
.content-container .content-wrap .wrap .chart > div > div > svg > g > g {
  cursor: default !important;
}
.content-container .content-wrap .wrap .chart.cart-chart {
  width: 500px;
  height: 500px;
}
.content-container .content-wrap .wrap .previewTitle {
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}
.content-container .content-wrap .wrap .previewTable {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  max-height: 500px;
  border: 1px solid rgb(188, 188, 188);
  overflow-x: auto;
}
.content-container .content-wrap .wrap .previewTable > table .gray {
  background-color: rgb(220, 220, 220);
}
.content-container .content-wrap .wrap .previewTable > table td,
.content-container .content-wrap .wrap .previewTable > table th {
  border: 1px solid rgb(188, 188, 188);
  white-space: pre;
  padding: 7px;
  text-align: center;
}
.content-container .content-wrap .wrap .previewTable > table td:first-child,
.content-container .content-wrap .wrap .previewTable > table th:first-child {
  background-color: gray;
  font-family: "S-CoreDream-6Bold", "맑은고딕", "sans-serif";
  color: white;
}
.content-container .content-wrap .wrap .previewTable.cart > table > thead th {
  background-color: rgb(77, 77, 77);
  color: white;
  font-family: "S-CoreDream-6Bold", "맑은고딕", "sans-serif";
}
.content-container .content-wrap .wrap .previewTable.cross > table > thead th {
  font-family: "S-CoreDream-6Bold", "맑은고딕", "sans-serif" !important;
  background-color: rgb(77, 77, 77) !important;
  color: white !important;
}
.content-container .content-wrap .wrap .previewTable.cross td:first-child,
.content-container .content-wrap .wrap .previewTable.cross th:first-child {
  background-color: white;
  font-family: "S-CoreDream-4Regular", "맑은고딕", "sans-serif";
  color: #333;
}
.content-container .content-wrap .wrap .previewTable.partitioning thead th {
  background-color: #858585 !important;
  color: white !important;
}
.content-container .content-wrap .wrap .previewTable.partitioning td:first-child,
.content-container .content-wrap .wrap .previewTable.partitioning th:first-child {
  background-color: white;
  color: #333;
  font-family: "S-CoreDream-4Regular", "맑은고딕", "sans-serif";
}
.content-container h3 {
  width: 100%;
  padding: 15px 0;
  font-size: 30px;
}
.content-container hr {
  width: 100%;
  color: white;
}
.content-container input[type=file] {
  display: none;
}
.content-container label {
  font-family: "S-CoreDream-5Medium", "맑은고딕", "sans-serif";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #777777;
  border-radius: 5px;
  transition: all 0.1s;
  color: #ffffff;
  cursor: pointer;
}
.content-container label:hover {
  background-color: #434343;
  transition: all 0.1s;
}
.content-container button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #cdcdcd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}
.content-container button.active {
  font-family: "S-CoreDream-5Medium", "맑은고딕", "sans-serif";
  background-color: #1c8053;
  color: #ffffff;
}
.content-container button:hover {
  background-color: #ababab;
  transition: all 0.1s;
}
.content-container button:hover.active {
  background-color: #0c643d;
}
.content-container button:active {
  background-color: #858585;
}
.content-container button:active.active {
  background-color: #014023;
}
.content-container .outputWrap {
  margin-top: 50px;
}
.content-container .outputWrap h4,
.content-container .outputWrap span,
.content-container .outputWrap p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content-container .outputWrap .row {
  justify-content: flex-start;
  height: 50px;
  margin-top: 10px;
  border: 1px solid #cdcdcd;
}
.content-container .outputWrap .row span {
  display: inline-block;
  width: 100px;
  height: 100%;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 50px;
}
.content-container .outputWrap .row p {
  padding: 0 20px;
}

/* header */
header {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 0 100px;
  background-color: #79db56;
  box-sizing: border-box;
}
header a {
  font-family: "S-CoreDream-6Bold", "맑은고딕", "sans-serif";
  color: #ffffff;
  font-size: 36px;
}

/* side-bar | 사이드바 */
.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  left: -300px;
  min-height: 100vh;
  background-color: #24252d;
  transition: all 0.3s;
}
.side-bar .inner {
  width: 100%;
  height: 100%;
}
.side-bar .top-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #2d2e39;
}
.side-bar nav {
  width: 100%;
  margin-bottom: 5vh;
  padding: 0 50px;
  box-sizing: border-box;
}
.side-bar nav ul {
  width: 100%;
  text-align: center;
}
.side-bar nav li {
  width: 100%;
  border-top: 1px solid #ffffff;
}
.side-bar nav li:first-child {
  border-top: none;
}
.side-bar nav a,
.side-bar nav p {
  display: inline-block;
  padding: 30px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}
.side-bar nav a:hover,
.side-bar nav p:hover {
  color: #79db56;
}
.side-bar footer p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
}
.side-bar .active a {
  color: #79db56;
  font-family: "S-CoreDream-6Bold", "맑은고딕", "sans-serif";
}
.side-bar.true {
  transform: translateX(300px);
  transition: all 0.3s;
}

.menuBtn {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  padding: 0 !important;
  margin: 0 !important;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent !important;
}
.menuBtn svg {
  width: 25px;
  height: 25px;
}
.menuBtn.true svg {
  fill: white;
}

/* dashboard-home */
.dashboard-home h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
}
.dashboard-home .row {
  width: 100%;
  justify-content: space-evenly;
}
.dashboard-home .row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.dashboard-home .row > div a {
  display: inline-block;
  width: 100%;
  background-color: #f5f5f5;
  color: #333;
  box-sizing: border-box;
}
.dashboard-home .row > div a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 40px 0;
  background-color: #ffffff;
  border-top: 1px solid #cdcdcd;
}
.dashboard-home .row > div a > div figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.dashboard-home .row > div a span {
  display: inline-block;
  padding: 15px;
}
.dashboard-home .row > div a p {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #cdcdcd;
  text-align: center;
  color: #777777;
  font-size: 14px;
}
.dashboard-home .row > div a:hover span {
  font-family: "S-CoreDream-5Medium", "맑은고딕", "sans-serif";
  color: #79db56;
}

/* loading-home */
.loading-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40vh;
}
.loading-home img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  opacity: 0.7;
}

@media screen and (max-width: 1180px) {
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .content-container > div {
    padding-bottom: 50px;
  }
  .content-container .content-wrap {
    width: 100vw;
    margin-top: 70px;
  }
  .content-container .content-wrap > div {
    width: 90%;
    align-items: center;
  }
  .content-container .content-wrap > h2 {
    margin-top: 20px;
  }
  .content-container h3 {
    width: 90%;
    font-size: 20px;
  }
  .content-container hr {
    width: 90%;
  }
  .content-container label {
    padding: 5px 10px;
  }
  .content-container button {
    padding: 5px 10px;
  }
  .content-container .outputWrap {
    margin-top: 30px;
  }
  header {
    height: 50px;
    width: 100vw;
    padding: 0;
  }
  header a {
    font-size: 1.4em;
    margin-right: 1em;
  }
  .dashboard-home {
    width: 100vw;
  }
  .dashboard-home h2 {
    text-align: center;
    font-size: 3em;
    width: 100vw;
    margin-top: 60px;
  }
  .dashboard-home .row {
    margin: 0;
    width: auto;
  }
  .dashboard-home .row > div {
    width: 350px;
    text-align: center;
    margin: 10px;
  }
}
@media screen and (max-width: 820px) {
  .content-wrap {
    margin-top: 120px !important;
  }
  .dashboard-home .row > div {
    width: 40vw;
  }
  .dashboard-home .row > div a {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 480px) {
  .content-container .content-wrap {
    margin-top: 60px;
  }
  .content-container .content-wrap > div > label {
    margin-top: 10px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .content-container .content-wrap > div > button {
    font-size: 14px;
  }
  .content-container .content-wrap > div > button:first-of-type {
    margin-left: 0;
  }
  .content-container .content-wrap > div .outputWrap > .row span {
    width: 80px;
  }
  .content-container .content-wrap > div .outputWrap > .row p {
    font-size: 14px;
  }
  .content-container .content-wrap > div .previewTable > table td,
.content-container .content-wrap > div .previewTable > table th {
    padding: 4px;
    font-size: 14px;
  }
  .side-bar {
    left: -100vw;
    width: 100vw;
  }
  .side-bar.true {
    transform: translateX(100%);
  }
  .dashboard-home h2 {
    font-size: 2.1em;
  }
  .dashboard-home .row {
    flex-direction: column;
  }
  .dashboard-home .row > div {
    width: 80vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 10px 0px;
  }
  .loading-home img {
    width: 100px;
  }
}
@media screen and (max-width: 374px) {
  .content-container .content-wrap > div > button {
    font-size: 14px;
  }
  .content-container .content-wrap > div > button:first-of-type {
    margin-left: 0;
  }
  .content-container .content-wrap > div .outputWrap > .row span {
    width: 70px;
    font-size: 14px;
  }
  .content-container .content-wrap > div .outputWrap > .row p {
    font-size: 13px;
  }
}