@charset "UTF-8";
:root {
  --main-color: #79db56;
  --sub-color: #2d2e39;
  --side-bar-color: #24252d;
  --font-color: #333;
  --gray01: #434343;
  --gray02: #777777;
  --gray03: #858585;
  --gray04: #cdcdcd;
  --white: #ffffff;
  --background-color: #f5f5f5;
  --active: #1c8053;
  --bold: "S-CoreDream-6Bold", "맑은고딕", "sans-serif"
  --medium: "S-CoreDream-5Medium", "맑은고딕", "sans-serif";
  --regular: "S-CoreDream-4Regular", "맑은고딕", "sans-serif";
}

/* common */
html,
body,
* {
  color: var(--font-color);
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bold {
  font-family: var(--bold);
}

.medium {
  font-family: var(--medium);
}

input::-moz-placeholder {
  font-family: var(--regular);
}

input:-ms-input-placeholder {
  font-family: var(--regular);
}

.regular, input::placeholder, html,
body,
* {
  font-family: var(--regular);
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.content-container > div {
  position: relative;
  left: 0;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
}
.content-container .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1170px;
  height: 100%;
  margin-top: 150px;
}
.content-container .content-wrap > div {
  width: 100%;
}
.content-container .content-wrap .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content-container .content-wrap .container > table {
  border-spacing: 0;
  border: 1px solid black;
}
.content-container .content-wrap .container > table thead th {
  border-bottom: 1px solid black;
}
.content-container .content-wrap .container > table th,
.content-container .content-wrap .container > table td {
  text-align: center;
  padding: 8px;
}
.content-container .content-wrap .container > table .gray {
  background-color: rgb(227, 227, 227);
}
.content-container .content-wrap .container .uploadTable {
  margin-top: 30px;
}
.content-container .content-wrap .container .downloadTable {
  width: 200px;
  margin: 15px 0;
}
.content-container .content-wrap .container .none {
  display: none;
}
.content-container .content-wrap .container input {
  position: absolute;
  left: -9999px;
}
.content-container .content-wrap .container .downloadBtn {
  margin: 0;
}
.content-container .content-wrap .container .uploadBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--gray02);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}
.content-container .content-wrap .container .download {
  display: flex;
  flex-flow: column;
}
.content-container h3 {
  width: 100%;
  padding: 15px 0;
  font-size: 30px;
}
.content-container hr {
  width: 100%;
}
.content-container input[type=file] {
  display: none;
}
.content-container label {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--gray02);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}
.content-container button {
  margin-top: 10px;
  margin-left: 5px;
  background-color: var(--gray04);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.content-container button.active {
  background-color: var(--active);
  color: var(--white);
}
.content-container .outputWrap {
  margin-top: 50px;
}
.content-container .outputWrap .row {
  justify-content: flex-start;
  height: 50px;
  margin-top: 10px;
  border: 1px solid var(--gray04);
}
.content-container .outputWrap .row span {
  display: inline-block;
  width: 100px;
  height: 100%;
  background-color: var(--background-color);
  text-align: center;
  line-height: 50px;
}
.content-container .outputWrap .row p {
  padding: 0 20px;
}

/* header */
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 0 100px;
  background-color: var(--main-color);
  box-sizing: border-box;
}
header a {
  font-weight: bold;
  color: var(--white);
  font-size: 36px;
}

/* side-bar | 사이드바 */
.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 300px;
  left: -300px;
  min-height: 100vh;
  background-color: var(--side-bar-color);
  transition: all 0.3s;
}
.side-bar .inner {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.side-bar .top-area {
  width: 100%;
  height: 50px;
  background-color: var(--sub-color);
}
.side-bar nav {
  width: 100%;
  margin: 180px 0 80px 0;
  padding: 0 50px;
  box-sizing: border-box;
}
.side-bar nav ul {
  width: 100%;
  text-align: center;
}
.side-bar nav li {
  width: 100%;
  border-top: 1px solid var(--white);
}
.side-bar nav li:first-child {
  border-top: none;
}
.side-bar nav a,
.side-bar nav p {
  display: inline-block;
  padding: 30px 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  font-size: 1em;
}
.side-bar nav a:hover,
.side-bar nav p:hover {
  color: var(--main-color);
}
.side-bar footer p {
  color: var(--white);
}
.side-bar .active a {
  color: var(--main-color);
  font-weight: bolder;
}

.true {
  transform: translateX(300px);
  transition: all 0.3s;
}

.menuBtn {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0px !important;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent !important;
}
.menuBtn svg {
  width: 25px;
  height: 25px;
}

/* dashboard-home */
.dashboard-home h2 {
  width: 1170px;
  font-size: 30px;
  margin-bottom: 10px;
}
.dashboard-home .row {
  width: 1170px;
  flex-wrap: wrap;
}
.dashboard-home .row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 580px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--gray04);
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.dashboard-home .row > div:nth-child(even) {
  margin-right: 0;
}
.dashboard-home .row > div a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  box-sizing: border-box;
}
.dashboard-home .row > div:hover a {
  color: var(--main-color);
}
.dashboard-home .row > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
  background-color: var(--white);
  border-top: 1px solid var(--gray04);
}
.dashboard-home .row > div > div figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.dashboard-home .row > div p {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid var(--gray04);
  text-align: center;
  color: var(--gray02);
  font-size: 14px;
}

/* loading-home */
.loading-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loading-home img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  opacity: 0.7;
}
.loading-home a {
  background-color: var(--sub-color);
  padding: 10px 20px;
  color: var(--white);
  border-radius: 5px;
}

@media screen and (max-width: 1180px) {
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .content-container > div {
    padding-bottom: 50px;
  }
  .content-container .content-wrap {
    width: 100vw;
    margin-top: 70px;
  }
  .content-container .content-wrap > div {
    width: 90%;
    align-items: center;
  }
  .content-container .content-wrap > h2 {
    margin-top: 20px;
  }
  .content-container h3 {
    width: 90%;
    font-size: 20px;
  }
  .content-container hr {
    width: 90%;
  }
  .content-container label {
    padding: 5px 10px;
  }
  .content-container button {
    padding: 5px 10px;
  }
  .content-container .outputWrap {
    margin-top: 30px;
  }
  header {
    height: 50px;
    width: 100vw;
    padding: 0;
  }
  header a {
    font-size: 1.4em;
    margin-right: 1em;
  }
  .dashboard-home {
    width: 100vw;
  }
  .dashboard-home h2 {
    text-align: center;
    font-size: 3em;
    width: 100vw;
    margin-top: 60px;
  }
  .dashboard-home .row {
    margin: 0;
    width: auto;
  }
  .dashboard-home .row > div {
    width: 350px;
    height: 300px;
    text-align: center;
    margin: 10px;
  }
  .dashboard-home .row > div a {
    padding: 15px;
  }
  .dashboard-home .row > div > div {
    padding: 57px 0;
  }
  .dashboard-home .row > div > div figure {
    width: 130px;
    height: 130px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }
  .dashboard-home .row > div > div figure img {
    width: 50px;
    height: 50px;
  }
  .dashboard-home .row > div p {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .dashboard-home .row > div {
    width: 40vw;
  }
  .dashboard-home .row > div a {
    padding: 16px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 480px) {
  .side-bar {
    left: -100vw;
    width: 100vw;
  }
  .side-bar nav {
    margin: 30px 0;
  }
  .side-bar footer p {
    color: var(--white);
  }
  .true {
    transform: translateX(100%);
  }
  .dashboard-home h2 {
    font-size: 2.1em;
  }
  .dashboard-home .row {
    flex-direction: column;
  }
  .dashboard-home .row > div {
    width: 250px;
    height: 200px;
    margin: 10px 0px;
  }
  .dashboard-home .row > div a {
    padding: 13px;
  }
  .dashboard-home .row > div > div {
    padding: 10px 0;
  }
  .loading-home img {
    position: absolute;
    width: 30px;
    right: calc(50% - 100px);
  }
}